body {
  margin: 0 auto;
  width: 500px;
}
header {
  background: #EEE;
  display: flex;
}
  h1 {
    font: 700 30px/1 sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0.25em;
    flex: 1 1 auto;
  }
  header button {
    font: 700 15px/30px sans-serif;
    flex: 1 1 auto;
  }
p {
  font: 16px/1.2 sans-serif;
  text-align: justify;
  hyphens: auto;
}

section.signedout, section.signedin {
  display: none;
}

.signedout section.signedout, .warning {
  border: 1px solid #999;
  background: #FF6666;
  margin: 0.25em 0;
  padding: 1em;
  display: block;
}

.signedin section.signedin {
  border: 1px solid #999;
  background: #66FF66;
  margin: 0.25em 0;
  padding: 1em;
  display: block;
}

label, input {
  display: block;
  margin: 0;
  font: 700 15px/30px sans-serif;
}

input[type=submit] {
  margin-top: 0.5em;
}
