
h1, h2 {
    font-weight: 100;
}

h3 {
    font-weight: 400;
}

#headline {
    padding: 0.8em;
    color: white;
    font-familiy: Roboto, sans-serif;
    background: rgb(0, 90, 156);
    font-size: 12px;
    text-align: center;
}

body {
    font-family: Roboto, sans-serif;
    background: #555;
}

#normative {
    
}

.note {
    font-size: small; 
}

.major {
    background: white;
    padding: .3em;
    margin: .3em;
}

.specTitle {
    font-size: larger;
}

#calendarEmbed {
    height: 200px;
}


#touchFix {
    height: 200px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}


.specStatus:before {
    content: "Status: ";
    color: #333;
    font-style: italic;
}

.specDate:before {
    content: "Last Updated: ";
    color: #333;
    font-style: italic;
}

.specEditors:before {
    content: "Editor(s): ";
    color: #333;
    font-style: italic;
}

.testCoordinators:before {
    content: "Test Coordinator(s): ";
    color: #333;
    font-style: italic;
}

 .specRemarks:before {
    content: "Remarks: ";
    color: #333;
    font-style: italic;
}

.narrowBlockDisplay {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eef;
    font-size: smaller;
}

  .narrowBlockDisplay:before {
    display: block;
    margin-top: 0.5em;
}

.spec {
    padding-top: 1.5em;
}

#headline h1:before {
    content: "W3C ";
}



p {
    font-size: large;
    margin-left: 0.5em;
    font-weight: 100;
}

@media screen and (min-width:600px) {
    
    .major {
        padding: 1em;
        margin: 1em;
        box-shadow: .3em .3em #333;
    }
    
    p {
        font-size: 1em;
        margin-left: 1em;
        font-weight: 100;
    }
    
    h3 {
        font-weight: 100;
    }
    
    .narrowBlockDisplay:before { 
        display: inline-block;
        width: 10em;
    }
    
    #headline {
        font-size: large;
        text-align: left;
        background-image: url(http://www.w3.org/Icons/WWW/w3c_home_nb);
        background-position: left;
        background-origin: content-box;
        background-repeat: no-repeat;
    }
    
    #headline h1:before {
        content: "";
    }
    
    #headline h1 {
      margin-left: 100px;
    }
}

@media screen and (min-height:700px) {
    #calendarEmbed {
        height: 400px;
    }
    
    #touchFix {
    height: 400px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
}

