<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Subresource Integrity</title>
  <script src='https://www.w3.org/Tools/respec/respec-w3c-common' class='remove'></script>
  <script class='remove'>
    var respecConfig = {
        // specification status (e.g. WD, LCWD, NOTE, etc.). If in doubt use ED.
        // Member-SUBM
        specStatus:           "ED",

        // the specification's short name, as in http://www.w3.org/TR/short-name/
        shortName:            "SRI",

        // if the specification's copyright date is a range of years, specify
        // the start date here:
        copyrightStart:       "2014",

        // if there a publicly available Editor's Draft, this is the link
        edDraftURI:           "http://w3c.github.io/webappsec/specs/subresourceintegrity/",

        // editors, add as many as you like
        // only "name" is required
        editors:  [
            { name: "Devdatta Akhawe", url: "mailto:dev.akhawe@gmail.com", company: "Dropbox, Inc.", companyURL: "https://www.dropbox.com/"},
            { name: "Francois Marier", url: "mailto:francois@mozilla.com", company: "Mozilla", companyURL: "https://www.mozilla.org/" },
            { name: "Frederik Braun", url: "mailto:fbraun@mozilla.com", company: "Mozilla", companyURL: "https://www.mozilla.org/", w3cid: 68466 },
            { name: "Joel Weinberger", url: "mailto:jww@google.com", company: "Google, Inc.", companyURL: "https://google.com/" },
        ],

        otherLinks: [{
            key: 'Participate',
            data: [{
                      value: 'We are on Github.',
                      href: 'https://github.com/w3c/webappsec'
                  }, {
                      value: 'File a bug.',
                      href: 'https://github.com/w3c/webappsec/issues'
                  }, {
                      value: 'Commit history.',
                      href: 'https://github.com/w3c/webappsec/commits/gh-pages'
                  }, {
                      value: 'Mailing list.',
                      href: 'https://lists.w3.org/Archives/Public/public-webappsec/'
                  }]
        }, {
            key: 'Implementation status',
            data: [{
                value: "Blink/Chromium",
                href: "https://code.google.com/p/chromium/issues/detail?id=355467"
            }, {
                value: "Gecko",
                href: "https://bugzilla.mozilla.org/show_bug.cgi?id=992096"
            }]
        }],

        // name of the WG
        wg:           "Web Application Security Working Group",

        // URI of the public WG page
        wgURI:        "http://www.w3.org/2011/webappsec/",

        // name (with the @w3c.org) of the public mailing to which comments are due
        wgPublicList: "public-webappsec",
        subjectPrefix: "[SRI]",

        // URI of the patent status for this WG, for Rec-track documents
        // !!!! IMPORTANT !!!!
        // This is important for Rec-track documents, do not copy a patent URI from a random
        // document unless you know what you're doing. If in doubt ask your friendly neighbourhood
        // Team Contact.
        wgPatentURI:  "http://www.w3.org/2004/01/pp-impl/49309/status",

        localBiblio: {
          "CSP": {
            title: "Content Security Policy 1.1",
            href: "http://w3.org/TR/CSP11",
            authors: [
              "Adam Barth",
              "Dan Veditz",
              "Mike West"
            ],
            status: "Working Draft",
            publisher: "W3C"
          },
          "MIMETYPE": {
            title: "Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types",
            href: "https://tools.ietf.org/html/rfc2046",
            authors: [
              "Ned Freed",
              "Nathaniel S. Borenstein"
            ],
            status: "Draft Standard",
            publisher: "IETF"
          },
          "RFC4648": {
            title: "The Base16, Base32, and Base64 Data Encodings",
            href: "https://tools.ietf.org/html/rfc4648",
            authors: [
              "Simon Josefsson",
            ],
            status: "Proposed Standard",
            publisher: "IETF"
          },
          "RFC6920": {
            title: "Naming Things with Hashes",
            href: "http://tools.ietf.org/html/rfc6920",
            authors: [
              "Stephen Farrell",
              "Dirk Kutscher",
              "Christian Dannewitz",
              "Borje Ohlman",
              "Ari Keranen",
              "Phillip Hallam-Baker",
            ],
            status: "Proposed Standard",
            publisher: "IETF"
          }
        }
    };
  </script>
</head>
<body>
<%= @body %>
</body>
</html>
